body {
  background-color: black;
}
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: purple;
}
img {
  background-color: black;
  max-height: 1000px;
  max-width: 1000px;
  height: auto;
  width: auto;
}
table {
  color: white;
}
